var formatTime_HMS = function (date) { 
  var date = getDate(date); //返回当前时间对象 

  // var year = date.getFullYear()
  var month = date.getMonth() + 1
  var day = date.getDate()
  var hour = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
  var min = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
  var sec = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
var d1=[month,day].join("-")
  var d2 = [hour, min, sec].join(':')
  return d1+" "+d2
}
var formatTime = function (date) {
  var date = getDate(date); //返回当前时间对象 

  var year = date.getFullYear()
  var month = date.getMonth() + 1
  var day = date.getDate()
  var hour = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
  var min = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
  var sec = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
  var d1 = [year,month, day].join("-")
  var d2 = [hour, min, sec].join(':')
  return d1 + " " + d2
}
var getDateDiff= function (date) {
  var e = getDate(date) - getDate().getTime(); 
  if (!(e < 0)) {  
    var mon = e / (1000 * 60 * 60 * 24 * 30);
    var week = e / (1000 * 60 * 60 * 24 * 7);
    var day = e / (1000 * 60 * 60 * 24 );
    var hour = e / (1000 * 60 * 60);
    var min = e / (1000 * 60 );
    var sec = e / (1000  );
    if (mon>1){
      return parseInt(mon)+"月后"
   }else if(week>1){
      return parseInt(week) + "周后"
    } else if (day > 1) {
      return parseInt(day) + "天后"
    } else if (week > 1) {
      return parseInt(week) + "周后"
    } else if (hour > 1) {
      return parseInt(hour) + "小时后"
    } else if (min > 1) {
      return parseInt(min) + "分钟后"
    } else if (sec > 1) {
      return parseInt(sec) + "秒后"
    }
  }else{
    return '已经过期'
  }
} 

var getDatebefore= function (date) {
  var e = getDate().getTime() - getDate(date) ;
  if (!(e < 0)) {
    var mon = e / (1000 * 60 * 60 * 24 * 30);
    var week = e / (1000 * 60 * 60 * 24 * 7);
    var day = e / (1000 * 60 * 60 * 24);
    var hour = e / (1000 * 60 * 60);
    var min = e / (1000 * 60);
    var sec = e / (1000);
    if (mon > 1) {
      return parseInt(mon) + "月前"
    } else if (week > 1) {
      return parseInt(week) + "周前"
    } else if (day > 1) {
      return parseInt(day) + "天前"
    } else if (week > 1) {
      return parseInt(week) + "周前"
    } else if (hour > 1) {
      return parseInt(hour) + "小时前"
    } else if (min > 1) {
      return parseInt(min) + "分钟前"
    } else if (sec > 1) {
      return parseInt(sec) + "秒前"
    } else  {
      return "刚刚"
    }
  } else {
    return '未来'
  }
} 
var subtext=function(text,len){
  return text.substring(0, len) + (text.length > len?"...":"")

}
var pritext = function (text) {
  return text.substring(0, 3) + '****' + text.substring(8, 10) 

}
module.exports = {
  formatTime_HMS: formatTime_HMS,
  getDatebefore: getDatebefore,
  getDateDiff: getDateDiff,
  subtext: subtext,
  pritext: pritext,
  formatTime:formatTime
}
